@model IEnumerable<Platzi_ASP_NET_Core.Models.Curso>

@{
    ViewData["Title"] = "Información Cursos";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Mensaje</h2>

<strong>Desde la vista parcial</strong>

<partial name="ListaObjetoEscuela"/>

<p><i>@ViewBag.Fecha</i></p>